# Ignore compiled files
*.o
*.out
*.exe
*.obj
*.bin
*.a
*.so
*.dll

# Ignore CMake & build directories
CMakeCache.txt
CMakeFiles/
build/
dist/
# Ignore everything
*

# Allow C++ source/header files
!*.cpp
!*.h
!*.hpp

# Allow the LeetCode directory and its contents
!LeetCode/
!LeetCode/**

